html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
svg {
  pointer-events: none;
}

path.amcharts-map-image {
  cursor: pointer;
  pointer-events: auto;
}

.scroll-container {
  height: 100vh;
}

.html,
body {
  overflow: hidden;
}
